.menu{
    display:flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: cyan;
    padding: 0 20px;
    width: 200px;
    height: 100vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-right: 20px;
    color: rgb(160, 0, 0);
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color:floralwhite ;
    border-radius: 15px;

}

a:hover{
    background-color: rgb(222, 255, 34);
}

